
<section class="appsd">
<h5>Angular Router</h5>
<nav style="height:20px">
  <a routerLink="/todolist" routerLinkActive="active"><h6>ToDo List</h6></a>
</nav>
</section>
<router-outlet></router-outlet>
<!--<h1>My First Angular 2 App</h1>
<p>This is just Something</p>
-->
<!--<p>Result of 1+1 is {{1+1}}</p>--><!--Interpolation solves it-->
<!--
<p>Hello, {{username}}!</p>
<p>Hello,{{currentUser.username}}-{{currentUser.email}}</p>
<p>Hello,{{currentUser.username+'-'+currentUser.email}}</p>
<div>
<p>Hello,{{getUsername()}}!</p>
<input value="{{getUsername()}}" type="text">

<p [hidden]='hideEmail'>Your Email is: <em>{{currentUser.email}}</em></p>
</div>

<input [disabled]="disabledInput" type="text" placeholder="Enter Here">
<input [disabled]="isDisabled()" type="text" placeholder="Enter Here">
<input [class.blue-bg]='isBlueBg' type="text" placeholder="Enter This">
-->