
section .major{
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 40px 0 0 0;
    font-family: "Helvetica 35 thin";
    font-weight: bold;
    overflow-y: hidden;
    overflow-x: hidden;
   
}
.itemsof{
    color:black;
    font-size:20px;
}
table{
    max-width: 700px;
    margin: 0 auto;
    
}
table th label{
    padding: 0 25px;
}
table th button{
    float: right;
}
.major h1{
    font-weight: bold;
    font-size: 44px;
}
input[type=checkbox]:checked + label.itemsof{
    text-decoration: line-through;
  }
input[type=text]{
    padding: 0 10px;
    width: 60%;
    font-size:20px;
}
h5{
    font-family: "Helvetica 35 thin";
    font-weight: bold;
}
.bottom
{
    position:relative;
    animation:animatebottom 0.9s
}
    @keyframes animatebottom{
    from{bottom:-300px;opacity:0} 
    to{bottom:0;opacity:1}
}
.modal-content1{
    width: 100%;
    height:220px;
    font-family: "Helvetica 35 thin";
    font-weight: bold;
    position: absolute;
    top:30%;
    right: 0;
    left: 0;
    z-index:100;
    color:white;
    padding: 20px;
}
.modal-content{
    background: rgba(0,0,0,0.8);
    padding: 90px;
    color:white;
}
.modal-content h4{
    font-family: "Helvetica 35 thin";
    font-weight: bold;
    color:white;
}
.modal-content h5{
    font-family: "Helvetica 35 thin";
    font-weight: bold;
    color:white;
}
.modal-content input{
    padding: 15px;
    font-size: 22px;
    color:white;
}