
section .major{
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 40px 0 0 0;
    font-family: "Helvetica 35 thin";
    font-weight: bold;
    overflow-y: hidden;
   
}
table th label{
    padding: 0 25px;
}
table th button{
    float: right;
}
.major h1{
    font-weight: bold;
    font-size: 44px;
}
input[type=checkbox]:checked + label.itemsof{
    text-decoration: line-through;
  }
